table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

td,
th {
  border: 1px solid #343434;
  text-align: center;
  padding: 7px;
}

th {
  border: 1px solid #646464;
  background-color: #343434;
  color: white;
  font-family: "Trebuchet MS";
}

body {
  font-family: "Trebuchet MS";
  background: #e0e0e0;
}

.login-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.login-row {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: space-between;
}

.products-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.products-title {
  align-self: center;
}

.products-login {
  align-self: flex-end;
  padding: 10px;
  background-color: darkgray;
  border-radius: 10px;
}
